/* I wanted to use variables in CSS so i found this: */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

:root {
  --school: #7aa8ed;
  --personal: #afe1af;
  --background: #434343;
  --box-background: #2b2b2b;
  --text: #ffffff;
  --dark-text: #000000;
  --remove: rgb(221, 68, 68);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

body {
  background: var(--background);
  color: var(--text);
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h4 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.intro .title {
  display: flex;
}

.intro .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
  min-width: 0;
}

.intro .title,
.intro .title input {
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 700;
}

.create-to-do .create-to-do-input {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 0.5rem;
  color: var(--text);
  background-color: var(--box-background);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.create-to-do .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.create-to-do .options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: var(--box-background);
  border-radius: 0.5rem;
  cursor: pointer;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--school);
}

.bubble.personal {
  border-color: var(--personal);
}

.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--school);
  border-radius: 50%;
}

.bubble.personal::after {
  background-color: var(--personal);
}

input:checked ~ .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.create-to-do .options label div {
  margin-top: 1rem;
}

.input-submit {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark-text);
  background-color: var(--personal);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.input-submit:hover {
  opacity: 0.75;
}

.to-do-list .list {
  margin: 1rem 0;
}

.to-do-list .item {
  display: flex;
  align-items: center;
  background-color: var(--box-background);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.item label {
  display: flex;
  margin-right: 1rem;
  cursor: pointer;
}

.item .to-do-content {
  flex: 1 1 0%;
}

.item .to-do-content input {
  color: var(--text);
  font-size: 1.125rem;
}

.item .actions {
  display: flex;
  align-items: center;
}

.item .actions button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: var(--dark-text);
  background: none;
  cursor: pointer;
  border: none;
}

.item .actions button:hover {
  opacity: 0.75;
}

.item .actions .edit {
  margin-right: 0.5rem;
  background-color: var(--personal);
}

.item .actions .delete {
  background-color: var(--remove);
}

.to-do-item.done .to-do-content input {
  text-decoration: line-through;
  color: grey;
}
